/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .header-content-area {
        padding: 140px 0 60px 0;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#5a3f7c79), to(#5a3f7c79)), url("image/headerBg.jpg");
        background-image: linear-gradient(0deg, #5a3f7c79, #5a3f7c79), url("image/headerBg.jpg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
    .header-content-area .header-content-right .header-buying .btn-wrapper {
        display: block;
        margin-top: 20px;
    }
    .order-box {
        margin-bottom: 20px;
    }
    .last-box {
        margin-bottom: 0px;
    }
    .where-to-buy .where-to-buy-content .buy-btn {
        border: none;
        border-radius: 5px;
        padding: 15px 20px;
        margin: 20px 0;
        background: #f0a64f;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Only for menu */

@media only screen and (min-width:768px) {
    .header {
        padding: 10px 100px;
    }
    .header .logo img {
        max-width: 160px;
        margin: 0px;
    }
    .header .menu a {
        all: unset;
    }
    .header .menu {
        all: unset;
        float: right;
        padding-top: 5px;
    }
    .header ul li {
        list-style: none;
        display: inline-block;
    }
    .header ul li {
        color: #000;
        font-size: 18px;
        margin-right: 20px;
        cursor: pointer;
    }
    .header .menu a:hover {
        background: transparent;
    }
    .header .menu-icon {
        display: none;
    }
}