html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}

a:hover {
    text-decoration: none
}

/* header navbar start here */

.header {
    /* position: absolute; */
    z-index: 111;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 0;
}

.header::after {
    content: "";
    clear: both;
    display: table;
  }

.header .logo img {
    width: 160px;
    margin: 20px;
    z-index: 999999;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header .menu a {
    padding: 15px 25px;
    font-size: 20px;
    display: block;
    color: #695188;
    font-size: 18px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-out;
}

.header .menu a {
    outline: .1px solid #aaa;
}

.header .menu a:hover {
    background: #aaa;
}

.header .menu-icon {
    position: relative;
    display: block;
    float: right;
    padding: 42px 20px;
    cursor: pointer;
}

.header .nav-icon {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background: #5A3F7C;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon::before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #5A3F7C;
    top: 7px;
    transition: all .2s ease-out;
}

.header .menu-icon .nav-icon::after {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: #5A3F7C;
    top: -7px;
    transition: all .2s ease-out;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 600px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

.menu ul li:last-child {
    padding: 10px;
}

.order-now-btn {
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #252525;
    border-radius: 0px;
    padding: 5px 20px;
    margin: 0px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 700;
    background: linear-gradient( 180deg, #fff000 0%, #fcc700 100%);
    transition: .5s ease-out;
}

.order-now-btn:hover {
    background: linear-gradient(to left, #fcc700 0%, #fff000 100%) right;
    /* background: linear-gradient(left, right

    , #fcc700 0%,#fff000 100%); */
}



@media only screen and (min-width:768px) {
    .header {
        padding: 10px 100px;
       
    }
    .header .logo img {
        max-width: 160px;
        margin: 0px;
    }
    .header .menu a {
        all: unset;
    }
    .header .menu {
        all: unset;
        float: right;
        
        padding-top: 5px;
    }
    .header ul li {
        list-style: none;
        display: inline-block;
    }
    .header ul li {
        color: #000;
        font-size: 18px;
        margin-right: 20px;
        cursor: pointer;
    }
    .header .menu a:hover {
        background: transparent;
    }
    .header .menu-icon {
        display: none;
    }
}

/* header navbar end here */

/* header content area start here */

.header-content-area {
    padding: 100px 0 60px 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#5a3f7c79), to(#5a3f7c79)), url("image/headerBg.jpg");
    background-image: linear-gradient(0deg, #5a3f7c79, #5a3f7c79), url("image/headerBg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.header-content-area .header-content-left {
    text-align: center;
}

.header-content-area .header-content-left .header-img {
    text-align: center;
    max-width: 350px;
}

.header-content-area .header-content-left .header-timer-title {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
    color: #fff;
}

.header-content-area .header-content-left .header-timer-title span {
    color: #F1C052;
}

.header-content-area .header-content-left .timer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF000;
    text-align: center;
    width: 300px;
    margin: 0px auto;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid #fff;
}

.header-content-area .header-content-left .timer .hours, .header-content-area .header-content-left .timer .minutes, .header-content-area .header-content-left .timer .seconds {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin: 0px;
}

.header-content-area .header-content-left .timer p {
    font-size: 18px;
    color: #000;
}

.header-content-area .header-content-right {
    max-width: 600px;
    box-sizing: border-box;
}

.header-content-area .header-content-right h2 {
    font-size: 36px;
    color: #fff;
    line-height: 40px;
    margin-left: 40px;
}

.header-content-area .header-content-right ul {
    max-width: 600px;
}

.header-content-area .header-content-right ul li {
    list-style: none;
    font-size: 18px;
    color: #fff;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.header-content-area .header-content-right ul li i {
    padding: 10px;
    background-color: #fff;
    color: #42B99F;
    border-radius: 50%;
    margin-right: 15px;
}

.header-content-area .header-content-right .header-buying {
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

.header-content-area .header-content-right .header-buying strike {
    font-size: 18px;
    font-weight: 500;
}

.header-content-area .header-content-right .header-buying h3 {
    font-size: 31px;
    font-weight: 400;
    margin: 0px;
    font-weight: 700;
}

.header-content-area .header-content-right .header-buying .btn-wrapper {
    display: block;
}

.header-content-area .header-content-right .header-buying .btn {
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #252525;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 20px 0;
    font-size: 35px;
    width: 100%;
    max-width: 360px;
    background: linear-gradient(180deg, #fff000 0%, #fcc700 100%);
    transition: .2s;
}

.header-content-area .header-content-right .header-buying .btn:hover {
    background-color: #F3DF0E;
    font-size: 34px;
}

.header-content-area .header-content-right .header-buying img {
    max-width: 300px;
}

/* header content area end here */

/* what is area start here */

.what-is {
    padding: 30px 0px;
}

.what-is .what-is-header h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    color: #000;
}

.what-is .what-right-content p {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
}

.what-is .how-suppliment-work {
    margin-top: 40px;
    padding: 10px 30px;
    background-color: #74509F;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.what-is .how-suppliment-work h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.what-is .how-suppliment-work p {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 400;
}

.what-is .how-suppliment-work .hr {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 10px;
}

/* what is area end here */

/* where to buy area start here */

.where-to-buy {
    padding: 50px 0px;
    background-color: #7651A1;
    width: 100%;
}

.where-to-buy .where-to-buy-img {
    max-width: 350px;
}

.where-to-buy .where-to-buy-content h2 {
    font-size: 46px;
    color: #fff;
    margin-bottom: 10px;
}

.where-to-buy .where-to-buy-content p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.buy-btn-wrapper {
    margin-top: 30px;
}

.where-to-buy .where-to-buy-content .buy-btn {
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 20px 0;
    background: #f0a64f;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
}

/* where to buy area end here */

/* ingredients area start here */

.ingredients {
    padding: 30px 0px;
}

.ingredients h2 {
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
}

.ingredients p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}

.ingredients-item {
    margin-left: -25px;
}

.ingredients-item li {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

/* ingredients area end here */

/* why choose area start here */

.why-choose {
    padding: 40px 0px;
    background-color: #7551A0;
    width: 100%;
    color: #fff;
    text-align: center;
}

.why-choose .why-choose-title h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.why-choose .why-choose-item-box h2 {
    font-size: 27px;
    margin: 15px 0px
}

.why-choose .why-choose-item-box img {
    margin-bottom: 20px;
}

.why-choose .why-choose-item-box p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* why choose area end here */

/* money back guarantee area start here */

.money-back-guarantee {
    background-image: url(image/bonus_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 40px 0px;
    text-align: center;
}

.money-back-guarantee .money-back-content p {
    padding: 0px 25px;
}

.money-back-guarantee .money-back-content img {
    max-width: 250px;
}

.money-back-guarantee .money-back-content h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.money-back-guarantee .money-back-content p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

/* money back guarantee area end here */

/* order area start here */

.order {
    padding: 90px 0px 70px 0px;
    background-color: #E6E6E6;
    width: 100%;
}

.order .order-box {
    background: url('image/box-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.order .order-box .box-header {
    background-color: #000;
    padding: 5px 0px;
    border-radius: 5px 5px 0px 0px;
}

.order .order-box .box-header.highlight-header {
    background-color: #B41F1B;
}

.order .order-box .box-header h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.order .order-box .box-body {
    padding: 20px 10px;
}

.order .order-box .box-body .price {
    display: flex;
    justify-content: space-between;
}

.order .order-box .box-body .price .normally h4 {
    font-size: 24px;
    font-weight: 400;
    color: #551A8B;
    /* font-style: italic; */
}

.order .order-box .box-body .price .normally p {
    font-size: 26px;
    margin: 5px 0px 0px 20px;
    position: relative;
}

.order .order-box .box-body .price .normally p span {
    font-size: 44px;
    font-weight: 500;
    position: absolute;
    top: -5px;
    color: #551A8B;
}

.order .order-box .box-body .price .today h4 {
    font-size: 24px;
    color: #F9870D;
    margin-left: 10px;
}

.order .order-box .box-body .price .today span {
    font-size: 54px;
    color: #F9870D;
    display: flex;
    font-weight: 900;
}

.order .order-box .box-body .price .today span p {
    display: flex;
    font-size: 18px;
    align-items: center;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 0px;
    font-weight: 400;
}

.order .order-box .box-body .order-image {
    max-width: 280px;
    text-align: center;
    margin: 10px auto;
}

.buying-information {
    text-align: center;
    color: #000;
}

.box-buy-btn a {
    border: none;
    background: linear-gradient( 284deg, rgba(237, 165, 30, 1) 0%, rgba(253, 247, 45, 1) 100%);
    width: calc(100% - 20px);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151515;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 1.4em;
    max-width: 360px;
    border-radius: 10px;
    border: 2px solid #e2c9c9;
    
    transition: .2s;
}
.buy-image{
    width: calc(100% - 60px);
    margin: 0px auto;
}

/* .order .order-box .box-body .order-btn-wrapper {
    position: relative;
}

.order .order-box .box-body .order-btn {
    background: #f9870d;
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
    color: #fff;
    font-size: 44px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    border: 4px solid #0307dd;
    text-shadow: 4px 1px 1px #0307dd;
    box-shadow: 5px 5px 5px #9c9c9c;
}

.order .order-box .box-body .order-btn-wrapper img {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    max-width: 250px;
    margin: 0px auto;
}

.order .order-box .box-body .new-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.order .order-box .box-body .new-price .old-price h3 {
    font-size: 26px;
    font-weight: 400;
}

.order .order-box .box-body .new-price .old-price strike {
    color: red;
}

.order .order-box .box-body .new-price .old-price strike span {
    color: #000;
}

.order .order-box .box-body .new-price .current-new-price h3 {
    font-size: 44px;
    font-weight: 900;
    color: #551A8B;
    margin: 0px 20px;
} */

/* .order .order-box .box-body .shipping h3 {
    font-size: 28px;
    font-weight: 400;
    color: #551A8B;
    text-align: center;
}

.order .order-box .box-body .shipping h3 i {
    color: #000;
}

.order .order-box .box-body .shipping h3 span {
    color: #F9870D;
    font-weight: 600;
} */

/* order area end here */

/* counter area start here */

.counter{
    padding-bottom: 70px;
}

.counter .header-timer-title {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
    color: #404040;
}

 .counter .header-timer-title span {
    color: #151515;
}

.counter .timer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF000;
    text-align: center;
    width: 300px;
    margin: 0px auto;
    padding: 5px 0;
    border-radius: 10px;
    border: 2px solid #fff;
}
 .counter.timer .hours, .counter.timer .minutes, .counter .timer .seconds {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin: 0px;
}

.counter .timer p {
    font-size: 18px;
    color: #000;
}

/* counter area end here */


/* footer area start here */

.footer {
    padding: 20px 0px;
    background-color: #FFFFFF;
    text-align: center;
}

.footer-menu ul {
    list-style: none;
    padding-left: 0px;
}


.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin: 10px;
    font-weight: 500;
}
.payment-method{
    width: calc(100% - 50px);
    margin: 0px auto;
}

.payment-method img{

    max-height: 30px;
    margin-bottom: 10px;
}

.footer .copyrights p {
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

/* footer area end here */

@keyframes swing {
    0% {
        -webkit-transform: rotate( 15deg);
        transform: rotate( 0deg);
    }
    40% {
        -webkit-transform: rotate( -10deg);
        transform: rotate( -3deg);
    }
    60% {
        -webkit-transform: rotate( 5deg);
        transform: rotate( 3deg);
    }
    80% {
        -webkit-transform: rotate( -5deg);
        transform: rotate( 0deg);
    }
    100% {
        -webkit-transform: rotate( 0deg);
        transform: rotate( 0deg);
    }
}